
.DS_Store

LobbyKiosk/LobbyKiosk.xcodeproj/project.xcworkspace/contents.xcworkspacedata

LobbyKiosk/LobbyKiosk.xcodeproj/project.xcworkspace/xcuserdata/andrewggoodwin.xcuserdatad/UserInterfaceState.xcuserstate

LobbyKiosk/LobbyKiosk.xcodeproj/xcuserdata/andrewggoodwin.xcuserdatad/xcschemes/LobbyKiosk.xcscheme

LobbyKiosk/LobbyKiosk.xcodeproj/xcuserdata/andrewggoodwin.xcuserdatad/xcschemes/xcschememanagement.plist
